<div id="about-me">
  <div id="timeline">
    <div class="container left">
      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi possimus placeat tempore, suscipit aspernatur nesciunt accusantium architecto sapiente obcaecati perspiciatis eum voluptate cum recusandae aperiam qui itaque mollitia! A, consequuntur.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti minus, fugiat odio illum error inventore molestiae quidem molestias, vel repellat quo expedita distinctio dignissimos. Ut adipisci earum reprehenderit tempora rem?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam maxime numquam, nostrum dolor soluta rerum iusto voluptates repudiandae voluptatem impedit facilis qui aliquam, obcaecati molestias modi expedita vitae perferendis molestiae?
      </div>
    </div>
    <div class="container right">
      <div class="content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse illum dolores excepturi eum? Repellat ratione minima quae unde voluptatem pariatur quod blanditiis dolore esse quos, eos ab quia itaque eius?
      </div>
    </div>
    <div class="container left">
      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi possimus placeat tempore, suscipit aspernatur nesciunt accusantium architecto sapiente obcaecati perspiciatis eum voluptate cum recusandae aperiam qui itaque mollitia! A, consequuntur.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti minus, fugiat odio illum error inventore molestiae quidem molestias, vel repellat quo expedita distinctio dignissimos. Ut adipisci earum reprehenderit tempora rem
      </div>
    </div>
    <div class="container right">
      <div class="content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse illum dolores excepturi eum? Repellat ratione minima quae unde voluptatem pariatur quod blanditiis dolore esse quos, eos ab quia itaque eius?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam harum, aspernatur praesentium sint laboriosam illo et eum dolor voluptatem aperiam provident nobis qui sapiente atque, cumque maiores ipsum rerum fuga!
      </div>
    </div>
  </div>
</div>

